<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col forms-title">
      <h4>Meu Perfil</h4>
    </div>
  </div>

  <div class="forms-container">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="perfilForm" (submit)="atualizarPerfil()">
          <div class="form-floating mb-1">
            <input
              formControlName="usuario"
              type="text"
              id="usuario"
              name="usuario"
              placeholder="Usuário"
              class="form-control"
              [readonly]="true"
            />
            <label>Usuário</label>
          </div>
          <div class="form-floating mb-0">
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              placeholder="E-mail"
              class="form-control"
            />
            <label>E-mail</label>
          </div>

          <div class="forgot-password">
            <a (click)="enviarEmailVerificacao()"
              ><i class="bi bi-chevron-right"></i> Clique para enviar e-mail de
              verificação</a
            >
          </div>

          <div class="form-floating mb-1">
            <input
              formControlName="telefone"
              type="text"
              id="telefone"
              name="telefone"
              placeholder="Telefone"
              class="form-control"
            />
            <label>Telefone</label>
          </div>

          <div class="mb-1">
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSpinner" class="overlay">
  <span class="loader"></span>
</div>
