<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col forms-title">
      <h4>Aqui você pode alterar seus dados</h4>
    </div>
  </div>

  <div class="forms-container">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="perfilForm" (submit)="atualizarPerfil()">
          <div class="form-floating mb-0">
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              placeholder="E-mail"
              class="form-control"
            />
            <label>E-mail</label>
          </div>
          <div class="col forms-title">
            <p>Quer alterar somente a senha? Adicione o mesmo e-mail acima.</p>
          </div>
          <div class="form-floating mb-1">
            <input
              formControlName="novaSenha"
              type="password"
              id="novaSenha"
              name="novaSenha"
              required
              placeholder="Nova Senha"
              class="form-control"
            />
            <label>Nova senha</label>
          </div>
          <div class="form-floating mb-1">
            <input
              formControlName="confirmacaoSenha"
              type="password"
              id="confirmacaoSenha"
              name="confirmacaoSenha"
              required
              placeholder="Confirme a Senha"
              class="form-control"
            />
            <label>Confirme a nova senha</label>
          </div>
          <!-- <div class="forgot-password">
            <a (click)="enviarEmailVerificacao()"
              ><i class="bi bi-chevron-right"></i> Clique para enviar e-mail de
              verificação</a
            >
          </div> -->

          <div class="mb-1">
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSpinner" class="overlay">
  <span class="loader"></span>
</div>
