<div id="outer-border" *ngIf="show" [ngStyle]="{
  'top':top + 'px',
  'left': left + 'px',
  'width': width + 'px',
  'height': height + 'px',
  }">
  <div id="context-menu" >
    <div id="delete-item"
        class="menu-item"
        (click)="deleteContent()">
      <img src="assets\imagens\trash-can-regular.svg" alt="Icone de lixeira">
      <span *ngIf="width > MINIMUM_WIDTH_SIZE">Deletar bloco</span>
    </div>
    <div id="reorder-item"
        class="menu-item"
        (dragstart)="this.editorMediator.dragMoveStart($event, this.innerElement)"
        (dragend)="this.editorMediator.dragMoveEnd($event)"
        draggable="true">
      <span *ngIf="width > MINIMUM_WIDTH_SIZE">Reordenar </span>
      <img src="assets\imagens\reorder-icon.svg" alt="Icone de reordenação">
    </div>
  </div>
</div>
