#outer-border{
  z-index: 3;
  position: absolute;
  border: #49066B 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  pointer-events: none;
}

#context-menu {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  position:relative;
  top: -25px;
  width: 100%;
  color: white;
  align-items: center;
}

#context-menu > .menu-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 4px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  pointer-events: all;
}

#context-menu > .menu-item > img {
  margin: 2px 6px;
  width: 14px;
  height: 14px;
}

#delete-item {
  background-color: #CC1F59;
  cursor: pointer;
}

#reorder-item {
  background-color: #49066B;
  cursor: move;
}

