<app-header></app-header>
<div class="container-fluid">
  <div class="content">
    <h2>Escolha seu modelo para começar a criação:</h2>
    <div class="cards">
      <div class="card" routerLink="/whatsapp">
        <img src="assets/imagens/icon_wpp.png" alt="WhatsApp" />
        <h3>Card de Whatsapp</h3>
      </div>
      <div class="card" routerLink="/copy">
        <img src="assets/imagens/icon_copy.png" alt="Copy" />
        <h3>Criador de copy</h3>
      </div>
      <div class="card" routerLink="/email-no-image">
        <img src="assets/imagens/icon_header_sem.png" alt="Header Sem" />
        <h3>E-mail com header<br />sem imagem</h3>
      </div>
      <div class="card" routerLink="/email-with-image">
        <img src="assets/imagens/icon_header_com.png" alt="Header Com" />
        <h3>E-mail com header<br />com imagem</h3>
      </div>
    </div>
  </div>
</div>
