<div id="email-container">
  <div
    class="centered-content"
    [style.backgroundColor]="selectedBackgroundColor"
    (mouseenter)="updateHoverbleElements()"
  >
    <!-- <app-context-menu
    [editorMediator]="editorMediator"/>
    <app-hover-border/> -->

  <!-- Header Section -->
    <div
      id="header-container"
      [innerHTML]="headerHTML"
      [ngStyle]="{ 'max-width.px': 600 }"
      (keydown)="onKeyDown($event)"
      >
      <!-- (click)="makeEditable($event)" -->
      <!-- Conteúdo do header será adicionado aqui -->
    </div>

    <!-- Content Section -->
    <div
      id="content-container"
      [innerHTML]="contentHTML"
      contenteditable="true"
      [ngStyle]="{ 'max-width.px': 600 }"
      (click)="makeEditable($event)"
      (keydown)="onKeyDown($event)"
      (click)="selecionarBlocoTexto($event)"

    >
      <!-- Conteúdo principal será adicionado aqui -->
    </div>

    <!-- Footer Section -->
    <div
      id="footer-container"
      [innerHTML]="footerHTML"
      [ngStyle]="{ 'max-width.px': 600 }"
      (keydown)="onKeyDown($event)"
      >
      <!-- (click)="makeEditable($event)" -->
      <!-- Conteúdo do footer será adicionado aqui -->
    </div>
  </div>
</div>
