<div class="row">
  <div class="col forms-title">
    <h4>Altere a Senha</h4>
  </div>
</div>

<div class="forms-container">
  <div class="row">
    <div class="col-8">
      <form [formGroup]="trocaSenhaForm" (submit)="TrocarSenha()">
        <div class="form-floating mb-1">
          <input
            formControlName="senha"
            type="password"
            id="senha"
            name="senha"
            required
            placeholder="Senha Atual"
            class="form-control"
          />
          <label>Senha atual</label>
        </div>
        <div class="form-floating mb-1">
          <input
            formControlName="novaSenha"
            type="password"
            id="novaSenha"
            name="novaSenha"
            required
            placeholder="Nova Senha"
            class="form-control"
          />
          <label>Nova senha</label>
        </div>
        <div class="form-floating mb-1">
          <input
            formControlName="confirmacaoSenha"
            type="password"
            id="confirmacaoSenha"
            name="confirmacaoSenha"
            required
            placeholder="Confirme a Senha"
            class="form-control"
          />
          <label>Confirme a nova senha</label>
        </div>
        <div class="mb-1">
          <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="showSpinner" class="overlay">
  <span class="loader"></span>
</div>
