input#linkCard {
  max-height: 10px;
}
.form-group-item {
  display: block;
  margin-bottom: 10px;
}

.form-group-item label {
  display: block;
  margin-bottom: 5px;
}

.form-group-item select {
  width: 100%;
}
.form-group.line {
  display: inline-block;
}
