<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="structure-blocks">
        <h5>Estrutura</h5>
        <div class="card-deck">
          <div class="d-grid gap-3 col-8 mx-auto">
            <button class="btn btn-light header1" type="button">
              Header sem imagem
            </button>
            <button class="btn btn-light header" type="button">
              Header com imagem
            </button>
          </div>
        </div>
        <h5>Blocos</h5>
        <div class="row">
          <div class="col-md-4">
            <div class="card square-card">
              <img
                src="assets/imagens/blocos/texto-icon.png"
                alt="Texto"
                class="img-icon"
              />
              Texto
            </div>
          </div>

          <div class="col-md-4">
            <div class="card square-card">
              <img
                src="assets/imagens/blocos/imagem-icon.png"
                alt="imagem"
                class="img-icon"
              />Imagem
            </div>
          </div>
          <div class="col-md-4">
            <div class="card square-card">
              <img
                src="assets/imagens/blocos/botao-icon.png"
                alt="botao"
                class="img-icon"
              />
              Botão
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card square-card">
              <img
                src="assets/imagens/blocos/cards-icon.png"
                alt="cards"
                class="img-icon"
              />
              Cards
            </div>
          </div>
          <div class="col-md-4">
            <div class="card square-card">
              <img
                src="assets/imagens/blocos/planos-icon.png"
                alt="planos"
                class="img-icon"
              />
              Planos
            </div>
          </div>
          <div class="col-md-4">
            <div class="card square-card">
              <img
                src="assets/imagens/blocos/vitrine-icon.png"
                alt="vitrine"
                class="img-icon"
              />
              Vitrine
            </div>
          </div>
        </div>
        <div class="avancar">
          <button class="btn btn-primary btn-block">Avançar</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 emailfundo">
      <div class="centered-content">
        <div class="edit-view-btns">
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-secondary">Visualizar</button>
        </div>
        <!-- Add your components here -->
      </div>
    </div>
    <div class="col-md-3">
      <div class="block-properties">
        <h5>Propriedades do e-mail</h5>
        <ul>
          <li><span>Esquema de cores:</span> Positivo</li>
          <li><span>Cor do fundo do e-mail:</span> Branco</li>
          <li><span>Tipo de template:</span> Vertical</li>
          <li><span>B2B:</span> Vivo Empresas</li>
        </ul>
      </div>
    </div>
  </div>
</div>
