<app-header></app-header>
<app-hover-border />
<app-context-menu [mediator]="this" />
<div class="container-fluid px-0">
  <div class="row">
    <!-- BLOCOS -->
    <app-building-blocks-menu
      [mediator]="this"
      class="bg-body col-md-3 px-0 m-0"
    />
    <!-- BLOCOS -->

    <!-- TEMPLATE -->
    <app-centered-content
      [editorMediator]="this"
      [contentHTML]="contentHTML"
      [headerHTML]="headerHTML"
      [footerHTML]="footerHTML"
      [selectedBackgroundColor]="this.selectedBackgroundColor"
      id="email-container"
      class="col-md-6 px-0 mx-3 emailfundo"
    />
    <!-- TEMPLATE -->

    <!-- PROPRIEDADES DO EMAIL -->
    <div class="col-md-3 .bg-coluna card">
      <div class="block-properties">


        <!-- TIPOGRAFIAS -->
        <app-typography-menu
          *ngIf="this.propertyState === 'Texto'"
          [mediator]="this"
        />

        <app-image-menu
          *ngIf="this.propertyState === 'Imagem'"
          [mediator]="this"
        />
        <!-- TIPOGRAFIAS -->

        <!-- BOTAO -->
        <app-button-menu
          [mediator]="this"
          *ngIf="this.propertyState === 'Botão'"
        />
        <!-- BOTAO -->

        <!-- CARDS -->
        <app-cards-menu
          *ngIf="this.propertyState === 'Cards'"
          [mediator]="this"
        />

        <!-- CARDS -->

        <!-- PLANOS -->

        <app-plans-menu
          *ngIf="this.propertyState === 'Planos'"
          [mediator]="this"
        />
        <!-- PLANOS -->

        <!-- VITRINE -->

        <app-vitrine-menu
          *ngIf="this.propertyState === 'Vitrine'"
          [mediator]="this"
        />
        <!-- VITRINE -->
      </div>
    </div>
    <!-- PROPRIEDADES DO EMAIL -->
  </div>
</div>
