<div>
  <div class="btn-options-container">
    <div>
      <h5 style="margin-bottom: 20px">Bloco de texto</h5>

      <!-- Editor de texto, usando ngModel para vinculação -->
      <editor
        [(ngModel)]="textoEditado"
        apiKey="uifo67aoz4fi7ttpkizzz0shz6yt2omslrypxxhj0lvjbgkw"
        [init]="{
          height: 400,
          menubar: 'edit format',
          toolbar: 'undo redo',
          branding: true,
          language: 'pt_BR'
        }"
      ></editor>

      <!-- Botão para aplicar a edição ao bloco de texto -->
      <button style="margin-top: 5px" (click)="aplicarTextoEditado()">
        Aplicar
      </button>
    </div>
  </div>
</div>
