<div id="building-blocks-menu">
  <div ngbAccordion [closeOthers]="true" id="building-blocks-accordion">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <img
            class="item-icon"
            src="assets/imagens/settings-regular.svg"
            alt="ícone de engrenagem"
          />Estrutura
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody class="form-group my-2 mx-2">
          <!-- <app-selection-input
            [label]="'Modelo do email'"
            [disabledOption]="'Escolha um modelo'"
            [options]="opcoesModeloEstrutura"
            (onChange)="this.onChange()"
          /> -->

          <app-selection-input
            [label]="'Cor de fundo '"
            [disabledOption]="'Escolha uma cor'"
            [options]="opcoesCorFundo"
            (onChange)="this.changeBackgroundColor($event)"
          />

          <app-selection-input
            [label]="'Escolha um esquema de cor'"
            [disabledOption]="'Escolha um esquema de cor'"
            [options]="opcoesFooters"
            (onChange)="this.onChange()"
          />
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <img
            class="item-icon"
            src="assets/imagens/controls-regular.svg"
            alt="ícone de engrenagem"
          />
          Header
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-selection-input
              [label]="'Modelo do header'"
              [disabledOption]="'Escolha um modelo'"
              [options]="opcoesModeloHeader"
              (onChange)="this.changeHeader($event)"
            />
            <app-selection-input
              [label]="'Logo do email'"
              [disabledOption]="'Escolha uma marca'"
              [options]="opcoesLogo"
              (onChange)="this.onChange()"
            />

            <app-file-input
              *ngIf="this.mostrarSeletorImagem"
              [label]="'Imagem do header'"
              [disabled]="false"
              (fileSelected)="this.uploadImageHeader($event, 'header')"
            />

            <app-text-input
              [label]="'Título'"
              onInput="'Digite o título'"
              (onInput)="this.onTitleChange($event)"
            />

            <app-toggle-input
              [label]="'Incluir pré-título'"
              (onChange)="this.mostrarPreTitulo = $event"
            />

            <ng-container *ngIf="this.mostrarPreTitulo">
              <app-text-input
                [placeholder]="'Digite o pré-título'"
                (onInput)="this.onPretitleChange($event)"
              />
            </ng-container>

            <app-toggle-input
              [label]="'Incluir subtítulo'"
              (onChange)="this.mostrarSubtitulo = $event"
            />
            <ng-container *ngIf="this.mostrarSubtitulo">
              <app-text-input
                [placeholder]="'Digite o subtítulo'"
                (onInput)="this.onSubtitleChange($event)"
              />
            </ng-container>

            <app-toggle-input
              [label]="'Incluir botão'"
              (onChange)="this.mostrarBotao = $event"
            />
            <ng-container *ngIf="this.mostrarBotao">
              <app-text-input
                [placeholder]="'Digite o texto do botão'"
                (onInput)="this.onButtonChange($event)"
              />

              <app-text-input
                [placeholder]="'Digite o link do botão'"
                (onInput)="this.onLinkChange($event)"
              />
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <img
            class="item-icon"
            src="assets/imagens/controls-regular.svg"
            alt="ícone de engrenagem"
          />
          Footer
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <app-selection-input
            [label]="'Esquema de cor do footer'"
            [disabledOption]="'Escolha um esquema de cor'"
            [options]="this.opcoesFooters"
            (onChange)="this.changeFooter($event)"
          />
          <ng-template>
            <app-toggle-input
              [label]="'Incluir texto legal'"
              (onChange)="this.mostrarTextoLegal = $event"
            />

            <ng-container *ngIf="this.mostrarTextoLegal">
              <app-text-input
                [placeholder]="'Digite o texto legal'"
                (onInput)="this.onLegalTextChange($event)"
              />
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <img
            class="item-icon"
            src="assets/imagens/code-regular.svg"
            alt="ícone de engrenagem"
          />
          Blocos
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row">
              <ng-container *ngFor="let block of blocks">
                <div class="col-md-4">
                  <div
                    class="card square-card"
                    (click)="this.changeState(block.text)"
                  >
                    <img
                      src="{{ block.imagePath }}"
                      alt="Texto"
                      class="img-icon"
                      draggable="false"
                    />
                    {{ block.text }}
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="avancar">
    <button (click)="this.downloadHtml(1)" class="btn btn-primary">
      Baixar HTML
    </button>
  </div>
  <div (click)="this.downloadHtml(0)" class="avancar">
    <button class="btn btn-warning">Salvar e Sair</button>
  </div>
  <div class="avancar">
    <button (click)="this.mediator.undoEditorState()" class="btn btn-danger">
      Desfazer
    </button>
  </div>
</div>
