.item-icon {
  margin: 8px;
}

.accordion-button:not(.collapsed){
  background-color: white;
}

.square-card {
  padding: 10px;
  /* Borda sólida */
  border-radius: 10px;
  text-align: center;
  width: 100%;
  font-size: 13px;
  margin-bottom: 20px;
  background-color: #ffffff;
  /* Cor de fundo padrão */

  /* Cursor de arraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra sutil */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Transição suave */

}

.img-icon {
  width: 20px;
  /* Ajuste o tamanho conforme necessário */
  height: 20px;
  /* Ajuste o tamanho conforme necessário */
  display: block;
  margin: 0 auto 10px;
  /* Centraliza a imagem e adiciona margem inferior */
}


.avancar {
  display: flex;
  border-radius: 5px;
  font-size: 16px;
  justify-content: center;
  /* Centraliza horizontalmente dentro do deck */
  margin: 50px 0px 20px 0px;
}

.desfazer {
  font-size: 20px;
}

