.item-icon {
  margin: 8px;
}

.accordion-button:not(.collapsed){
  background-color: white;
}

.square-card {
  padding: 10px;
  /* Borda sólida */
  border-radius: 10px;
  text-align: center;
  width: 100%;
  font-size: 13px;
  margin-bottom: 20px;
  background-color: #ffffff;
  /* Cor de fundo padrão */

  /* Cursor de arraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra sutil */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Transição suave */

}

.img-icon {
  width: 20px;
  /* Ajuste o tamanho conforme necessário */
  height: 20px;
  /* Ajuste o tamanho conforme necessário */
  display: block;
  margin: 0 auto 10px;
  /* Centraliza a imagem e adiciona margem inferior */
}



.avancar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente dentro do deck */
  margin: 20px 0px;
}

.avancar .btn {
  width: 150px; /* Define um tamanho fixo para os botões */
  height: 50px; /* Define uma altura fixa */
  font-size: 16px;
  border-radius: 5px;
}

#link-save-button{
  background-color: #5e008d; /* Cor roxa para o botão "Salvar HTML" */
  border-color: #5e008d;
}

.avancar .btn-primary {
  background-color: #5e008d; /* Cor roxa para o botão "Salvar HTML" */
  border-color: #5e008d;
}

.avancar .btn-danger {
  background-color: #CC1F59; /* Cor vermelha para o botão "Desfazer" */
  border-color: #CC1F59;
}







.file-input {
  flex-grow: 1; /* Permite que o input se ajuste ao espaço disponível */
  padding: 15px ;
  font-size: 15px;
  border: 1px solid #ddd; /* Borda cinza clara */
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



.info-icon {
  font-size: 14px; /* Tamanho do ícone */
  color: #5e008d; /* Cor do ícone (amarelo alerta) */
  cursor: pointer;
}

.info-icon:hover {
  color: #5e008d; /* Cor do ícone ao passar o mouse */
}
