<div class="login-container">
  <div class="left-section">
    <img src="assets/imagens/logo-vve.png" alt="Logo Vivo" class="vivo-logo" />
    <div class="saiba-mais">
      <a
        href="https://www.vivo.com.br/para-empresas/por-que-vivo-empresas/vivo-valoriza-empresas"
        class="saiba-mais-link"
        >Acesse e Saiba Mais</a
      >
    </div>
  </div>
  <div class="right-section">
    <form action="" class="form-logon">
      <h1>Digite seu E-mail</h1>
      <h3 class="">Enviaremos um link para você redefinir sua senha.</h3>
      <div class="form-group">
        <input
          type="email"
          id="esquecisenha"
          name="esquecisenha"
          required
          class="input"
          placeholder="E-mail"
        />
      </div>
      <div class="botoes">
        <button type="button" class="button-cancelar" routerLink="/login">
          Voltar
        </button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
